.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.headerLogo {
  height: 25px;
  object-fit: contain;
  margin-left: 20px;
}

.headerInput {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid black;
}

.headerInputButton {
  width: 50px !important;
  background-color: #fafafa;
  border-left: 1px solid lightgray;
  color: gray;
}

.headerIcons {
  display: flex;
  align-items: center;
}

.headerIcon {
  margin-right: 8px;
}

.headerInput > input {
  flex: 1;

  border: none;
}
