.videoCard {
  margin-bottom: 40px;
  width: 270px;
}

.videoCardThumbnail {
  height: 140px;
  width: 250px;
}

.videoCardInfo {
  display: flex;
  margin-top: 10px;
  padding-right: 30px;
}

.videoCardText {
  margin-left: 15px;
}

.videoCardText > h4 {
  font-size: 14px;
  margin-bottom: 5px;
}

.videoCardText > p {
  font-size: 14px;
  color: gray;
}

.videoAvatar {
  height: 30px !important;
  width: 30px !important;
}
